html {
    box-sizing: border-box;
}

body {
    background-color: #f1ead2;
}

nav {
    width: 80%;
    padding: 2px;
    margin: 0 auto;
    background-color: rgb(144, 215, 171);
    border: 4px solid rgb(92, 172, 123);
}

img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

:focus {
    outline: 5px solid rgb(52, 52, 245);
}

.two-img {
    width: 70%;
}

#skip a {
    position: absolute;
    padding: 20px;
    top: -60px;
    left: 20px;
    transition: top 0.5s ease-out;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    border-radius: 30px;
    background-color: rgb(212, 108, 108);

}

@media (prefers-reduced-motion: reduce) {
    #skip a {
        transition: none;
    }
}

#skip a:focus {
    top: 20px;    
}

.active {
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.nav-flex {
    display: flex;
    margin: 20px auto;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 85%;
    text-align: center;
    margin: 0 auto;
}

.container ul {
    text-align: left;
}

.warning {
    background-color: #eae28c;
    padding: 20px;
    text-align: center;
}

.frame {
    display: none;
}

@media screen and (min-width: 600px) {
    .nav-flex {
        width: 40%;
        flex-direction: row;
    }

    .container {
        text-align: left;
        width: 80%;
        grid-template-columns: 1fr;
    }

    img {
        display: inline;
        width: 80%;
    }

    .two-img {
        width: 42%;
    }

    .warning {
        display: inline-block;
    }

    .frame {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .nav-flex {
        justify-content: space-between;
        width: 30%;
    }

    .container {
        width: 60%;
    }

    img {
        width: 65%;
    }

    .two-img {
        width: 47%;
    }
}
